<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
	<!-- page content -->
	<div class="container blog-content-container">
		<h3 th:text="${userModel.title}"></h3>
		<form action="/users" th:action="@{/users}" method="POST"
			th:object="${userModel.user}">
			<input type="hidden" name="id" th:value="*{id}" /> 
			名称:<input class="form-control" type="text" name="name" th:value="*{name}" />
		            邮箱:<input class="form-control" type="text" name="email" th:value="*{email}"><br> 
		    <input class="btn btn-default" type="submit" value="提交">
		</form>
	</div>
	<!-- container样式 -->
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>